body {
    background-color: #171616;
    margin: 0;
}

.topNavBar {
    background-color: #222426;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.topNavBarLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
}
.topNavBarRight {
    margin-right: 5%;
    height: 10.0px;
    width: 10.0px;
    border-radius: 100%;
    background-color: #1ec072;
}
a {
    padding: 4.0px 10.0px;
    height: 32.0px;
}
a:link {
    text-decoration: none;
}
a p:hover{
    color:white;
}
p {
    color: #cdcac9;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16.0px;
    letter-spacing: 1.1px;
}

.bottomNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15.0px 0;
}
.bottomNavBarLeft {
    display: flex;
    flex-direction: row;
    margin-left: 4%;
}
.bottomNavBarRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 4%;
}
.signUpButton {
    display: flex;
    align-items: center;
    background-color: #222426;
    border: 1.0px solid #1ec072;
    margin-left: 10.0px;
    padding: 10.0px 5.0px;
}
.signUpButton:hover {
    background-color: white;
}
.signUpButton p {
    color: white;
}
.signUpButton:hover p {
    color: black;
}


.main-section {
    background-color: #171616;
}
.search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
}
.main-img {
    height: 220.0px;
    width: 380.0px;
    margin-bottom: 80.0px;
}
.searchBar {
    color: #bfbfbf;
    background-color: #222426;
    border: 1.0px solid #565555;
    width: 800.0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20.0px;
    padding: 15.0px 20.0px;
    font-size: 12.0px;
    font-family: 'PT Mono', monospace;
}
.searchBar::placeholder {
    color: #bfbfbf;
}
.explore-btn {
    color: #cdcac9;
}
.under-search {
    display: flex;
    justify-content: space-between;
    width: 800.0px;
}
.under-search p {
    font-family: 'PT Mono', monospace;
    font-size: 12.0px;
    color: #959595;
}

.footer {
    background-color: #222426;
    display: flex;
    flex-direction: column;
    padding-top: 4.0%;
    padding-bottom: 3.0%;
}
.footer-menu {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.footer-menu-col {
    display: flex;
    flex-direction: column;
    margin: 0 35.0px;
}
.footer-menu-col ul {
    padding-left: 0;
}
h6 {
    color: #e9e9e9;
    padding-bottom: 10.0px;
}
.info-div {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.icon-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10.0px 0 15.0px 0;
}
.social-icon {
    color: #cdcac9;
    padding: 0 10.0px;
    height: 20.0px;
    width: 20.0px;
}
.social-icon:hover {
    color: white;
}
.footer a {
    padding-top: 0;
    padding-left: 0;
}
.footer a h6 {
    list-style-type: none;
    color: #cdcac9;
    margin: 0;
}
.footer a p {
    list-style-type: none;
    color: #cdcac9;
    margin: 0;
    font-size: 11.0px;
    font-weight: 600;
}
.footer a p:hover, .footer a h6:hover {
    color: white;
}
.bottommostRow {
    display: flex;
    flex-direction: row;
    padding-top: 10.0px
}
.bottommostRow a {
    padding: 0;
}
.bottommostRow a p {
    font-size: 9.0px;
    padding: 0 3px;
}
.border-right-active {
    border-right: 1.0px solid #959595;
}